@*@model IEnumerable<ToDoWeb.Models.User>*@
@model ToDoWeb.Models.User

<p>@TempData["SuccessMessage"]</p>



@*@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>@ViewBag.ErrorMessage</p>
}

<br />
<div class="col bg-primary" id="login-grid2">
    <br />
    <h2 class="text-center text-dark"> USER LOGIN</h2>
    <br />
    <form method="post" action="@Url.Action("LoginPage", "Login")">
        <div class="text-center">
            <label class="text-dark" for="username">Username:</label>
            <input style="width: 25rem; border-radius: 40px; margin: 0 auto;" type="text" name="username" id="username" class="form-control" />
        </div>

        <br />

        <div class="text-center">
            <label class="text-dark" for="password">Password:</label>
            <input style="width: 25rem; border-radius: 40px; margin: 0 auto;" type="password" name="password" id="password" class="form-control" />
        </div>

        <br />

       <div class="text-center">
            <button type="submit" class="btn btn-outline-dark" style="width:150px">Login</button>
       </div>
    </form>
</div>*@



@*<form method="post" action="/Login/Login">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>*@

<div class="col bg-primary" id="login-grid2">
    <br />
    <h2 class="text-center text-dark"> USER LOGIN</h2>
    <br />
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h5 style="width:75%; margin: 0 auto;" class="alert alert-danger">@ViewBag.ErrorMessage</h5>
    }
    
    <form method="post" action="/Login/Login">
        <div class="text-center mt-4">
            <label class="text-dark" for="username">Username:</label>
            <input style="width: 75%; border-radius: 40px; margin: 0 auto;" type="text" name="username" id="username" class="form-control" required />
        </div>



        <div class="text-center mt-2">
            <label class="text-dark" for="password">Password:</label>
            <input style="width: 75%; border-radius: 40px; margin: 0 auto;" type="password" name="password" id="password" class="form-control" required />
        </div>

        <br />

        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark" style="width:150px">Login</button>
        </div>
    </form>
</div>




@*@using (Html.BeginForm("LoginPage", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, "Remember me")
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}*@