@model IEnumerable<List.Models.Todo>

<div class="row p-3 mt-5" id="todo-table-header">
    <div class="col-6" style="margin-bottom: -12px;">
        <h4>Available Todo Items</h4>
    </div>

    <div class="col-6 text-end">

        <a type="button" class="btn btn-outline-primary" class="nav-link" asp-area="" asp-controller="Todo" asp-action="Create"><i class="bi bi-plus-circle"></i> &nbsp; Create New Todo</a>
    </div>
</div>



<div class="text-center">

    @{
        int counter = 1;
        bool hasTodos = Model.Any();
    }

    @if (hasTodos)
    {
    <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-dark">
                <th style="width: 5%" scope="col">Id</th>
                    <th style="width: 10%" scope="col">Title</th>
                    <th style="width: 30%" scope="col">Description</th>
                    <th style="width: 10%" scope="col">Due Date</th>
                    <th style="width: 12%" scope="col">Priority Level</th>
                    <th style="width: 8%" scope="col">Completed</th>
                    <th style="width: 20%" scope="col"></th>
                </tr>
            </thead>


            <tbody>
                @foreach (var obj in Model)
                {
                        <tr>
                            <td width="5%">
                            @counter
                            </td>

                            <td width="10%">
                            @obj.Title
                            </td>

                            <td width="30%">
                            @obj.Description
                            </td>

                            <td width="10%">
                            @obj.Duedate.ToShortDateString()
                            </td>

                            <td width="15%">
                            @obj.PriorityLevel
                            </td>

                            <td width="10%">
                            @(obj.IsComplete ? "Yes" : "No")
                            </td>
                            <td width="10%">
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@obj.ListId">Edit</a>
                                <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@obj.ListId">Details</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@obj.ListId">Delete</a>
                            </td>
                        </tr>

                    counter++;
                }
            </tbody>
        </table>
    }

    else
    {
        <div class="text-center mt-5">
            <h2 class="text-danger mt-3">Don't have any Available To Do List'</h2>
        </div>
    }

    

</div>
